	.index-title {
		color: #777777;
		
		.title-ico {
			width: 46upx;
			height: 46upx;
			margin-right: 12upx;
		}
	}
	.cu-tag-text {
		margin-top: 2upx !important;
		font-size: 29upx !important;
		color: #333333 !important;
	}
	.item-ico{
		width: 90upx;
		height: 90upx;
	}
	.mt10 {
		margin-top: 20upx;
	}
	.p10 {
		padding: 20upx 0;
	}
	.card {
		width: 100%;
		background: #FFFFFF;
		margin-bottom: 40upx;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		.item {
			width: 100%;
			height: 70upx;
			line-height: 70upx;
			padding: 0 20upx 0 35upx;
			.title {
				float: left;
				width: 130upx;
				line-height: 70upx;
				font-size: 32upx;
				color: #777777;
			}

			.content {
				float: right;
				width: calc(100% - 136upx);
				text-align: right;
				line-height: 70upx;
				font-size: 32upx;
			}
		}
		.reason-box {
			width: 100%;
			padding: 0 20upx 20upx 40upx;
			.title {
				line-height: 70upx;
				font-size: 32upx;
				color: #777777;
			}
			.reason {
				min-height: 80upx;
				font-size: 32upx;
				text-indent: 2em;
			}
		}
	}
	
	.card-detail {
		width: 96%;
		min-height: 420upx;
		margin: 0 auto 20upx;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		background: #FFFFFF;
		border-radius: 8upx;
		.title-box {
			width: 100%;
			height: 70upx;
			border-top-left-radius:8upx;
			border-top-right-radius:8upx;
			padding: 0 20upx;
			line-height: 70upx;
			font-weight: bold;
			.id {
				float: left;
			}
			.status {
				float: right;
				font-size: 28upx;
				margin-top: 13upx;
			}
			.arrow {
				float: right;
				width: 24px;
				height: 40upx;
				margin-top: 15upx;
			}
		}
		.info-box {
			width: 100%;
			height: 48upx;
			line-height: 48upx;
			padding: 7upx 20upx;
			.label{
				float: left;
				margin-right: 4upx;
				font-size: 32upx;
				width: 160upx;
				color: #777777;
			}
			.info {
				float: left;
				color: #333333;
				font-size: 32upx;
			}
		}
		.reason-box {
			width: 100%;
			padding: 20upx;
			.label {
				line-height: 48upx;
				font-size: 32upx;
				color: #777777;
			}
			.info {
				min-height: 48upx;
				color: #333333;
				font-size: 32upx;
				text-indent: 2em;
			}
		}
		.address-box {
			height: 210upx;
			width: 100%;
			.start-address{
				padding: 7upx 20upx;
				height: 48upx;
				line-height: 48upx;
				.ico {
					width: 32upx;
					height: 32upx;
					margin-right: 20upx;
					margin-top: 10upx;
					vertical-align: top;
				}
				.text {
					height: 48upx;
					line-height: 48upx;
					font-size: 30upx;
					color: #333333;
				}
			}
			.time-box {
				height: 74upx;
				width: 100%;
				margin-top: 7upx;
				padding: 0 20upx;
				.line {
					width: 2upx;
					height: 66upx;
					margin: 8upx 36upx 0 15upx;
					background: #d0d0d0;
					float: left;
				}
				.time {
					float: left;
					height: 72upx;
					.value {
						height: 30upx;
						line-height: 30upx;
						color: #333333;
						font-size: 30upx;
					}
					.middle {
						height: 48upx;
					}
				}
			}
			.end-address {
				padding: 0 20upx;
				height: 72upx;
				.ico {
					width: 32upx;
					height: 32upx;
					margin-right: 20upx;
					margin-top: 8upx;
					vertical-align: top;
					float: left;
				}
				.info {
					float: left;
					height: 72upx;
					.value {
						height: 48upx;
						line-height: 48upx;
						font-size: 30upx;
						color: #333333;
					}
					.time {
						height: 30upx;
						line-height: 30upx;
						color: #333333;
						font-size: 30upx;
					}
				}
			}
		}
	}
	.small-card-detial {
		width: 96%;
		min-height: 260upx;
		margin: 20upx auto 0;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		background: #FFFFFF;
		border-radius: 8upx;
		padding: 10upx 30upx 30upx 30upx;
		padding-left: 30upx;
		.title-box {
			width: 100%;
			height: 70upx;
			border-top-left-radius:8upx;
			border-top-right-radius:8upx;
			line-height: 70upx;
			.id {
				float: left;
				font-weight: bold;
			}
			.status {
				float: right;
				font-size: 28upx;
			}
			.arrow {
				float: right;
				width: 24upx;
				height: 40upx;
				margin-top: 15upx;
			}
		}
		.info-box {
			width: 100%;
			height: 48upx;
			line-height: 48upx;
			padding: 10upx 0;
			.label{
				float: left;
				margin-right: 4upx;
				font-size: 32upx;
				width: 160upx;
				color: #777777;
			}
			.info {
				float: left;
				color: #333333;
				font-size: 32upx;
			}
		}
		.time-box {
			width: 100%;
			height: 150upx;
			.time {
				padding: 7upx 20upx;
				height: 48upx;
				line-height: 48upx;
				.ico {
					width: 32upx;
					height: 32upx;
					margin-right: 20upx;
					margin-top: 10upx;
					vertical-align: top;
				}
				.value {
					font-size: 30upx;
					color: #333333;
				}
			}
			.line {
				width: 2upx;
				height: 36upx;
				margin: 11upx 35upx 0 35upx;
				background: #d0d0d0;
			}
		}
		.reason-box {
			width: 100%;
			padding: 10upx 10upx 0upx 0upx;
			.label {
				float: left;
				margin-right: 4upx;
				font-size: 32upx;
				width: 160upx;
				color: #777777;
			}
			.info {
				min-height: 48upx;
				color: #333333;
				font-size: 32upx;
				text-indent: 2em;
			}
		}
	}
	
	.bottom-btns-seat {
		width: 100%;
		height: 130upx;
		background: #f1f1f1;
	}
	.bottom-btns {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 114upx;
		border-top: 2upx solid #36BDBD;
		box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
		.cancel {
			float: left;
			width: 50%;
			height: 114upx;
			line-height: 114upx;
			color: #36BDBD;
			text-align: center;
			background: #FFFFFF;
		}
		.pass {
			float: right;
			width: 50%;
			height: 114upx;
			line-height: 114upx;
			text-align: center;
			color: #FFFFFF;
			background-image: linear-gradient(45deg, #44d7b6, #36bdbd);
		}
	}
	
.bottom-cancel-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 114upx;
	border-top: 2upx solid #36BDBD;
	box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
	text-align: center;
	background-image: linear-gradient(45deg, #44d7b6, #36bdbd);
	line-height: 114upx;
	color: #FFFFFF;
	// font-size: 36upx;
	font-weight: 500;
}


	