.index-title {
		color: #0e0f3e;

		.title-ico {
			width: 44upx;
			height: 44upx;
			margin-right: 12upx;
		}
	}
	.mt10 {
		margin-top: 20upx;
	}
	.p10 {
		padding: 20upx 0;
	}
.card {
		width: 100%;
		background: #FFFFFF;
		margin-bottom: 40upx;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		.item {
			width: 100%;
			height: 70upx;
			line-height: 70upx;
			padding: 0 20upx 0 40upx;
			.title {
				float: left;
				width: 120upx;
				line-height: 70upx;
			}

			.content {
				float: right;
				width: calc(100% - 126upx);
				text-align: right;
				line-height: 70upx;
				color: #8799a3;
				font-size: 26upx;
			}
		}
		.reason-box {
			width: 100%;
			padding: 0 20upx 20upx 40upx;
			.title {
				line-height: 70upx;
			}
			.reason {
				min-height: 70upx;
				color: #8799a3;
				font-size: 26upx;
				text-indent: 2em;
			}
		}
	}
	
	.card-detail {
		width: 96%;
		min-height: 420upx;
		margin: 0 auto 20upx;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		background: #FFFFFF;
		border-radius: 20upx;
		.title-box {
			width: 100%;
			height: 56upx;
			border-top-left-radius:20upx;
			border-top-right-radius:20upx;
			padding: 0 20upx;
			line-height: 56upx;
			.id {
				float: left;
			}
			.status {
				float: left;
				margin-top: 12upx;
				margin-left: 20upx;
			}
			.arrow {
				float: right;
				width: 28upx;
				height: 28upx;
				margin: 12upx 10upx 0 0;
			}
		}
		.info-box {
			width: 100%;
			height: 48upx;
			line-height: 48upx;
			padding: 0 20upx;
			.label{
				float: left;
				margin-right: 10upx;
				font-size: 26upx;
				width: 130upx;
			}
			.info {
				float: left;
				color: #777676;
				font-size: 26upx;
			}
		}
		.reason-box {
			width: 100%;
			padding: 0 20upx 10upx 20upx;
			.label {
				line-height: 48upx;
				font-size: 26upx;
			}
			.info {
				min-height: 48upx;
				color: #8799a3;
				font-size: 26upx;
				text-indent: 2em;
			}
		}
		.address-box {
			height: 210upx;
			width: 100%;
			.start-address{
				padding: 0 20upx;
				height: 48upx;
				line-height: 48upx;
				.ico {
					width: 28upx;
					height: 28upx;
					margin-right: 20upx;
					margin-top: 8upx;
					vertical-align: top;
				}
				.text {
					font-size: 26upx;
				}
			}
			.time-box {
				height: 74upx;
				width: 100%;
				padding: 0 20upx;
				.line {
					width: 2upx;
					height: 66upx;
					margin: 2upx 36upx 0 12upx;
					background: #d0d0d0;
					float: left;
				}
				.time {
					float: left;
					height: 70upx;
					.value {
						height: 24upx;
						line-height: 24upx;
						color: #AAAAAA;
						font-size: 24upx;
					}
					.middle {
						height: 46upx;
					}
				}
			}
			.end-address {
				padding: 0 20upx;
				height: 72upx;
				.ico {
					width: 28upx;
					height: 28upx;
					margin-right: 20upx;
					margin-top: 8upx;
					vertical-align: top;
					float: left;
				}
				.info {
					float: left;
					height: 72upx;
					.value {
						height: 48upx;
						line-height: 48upx;
					}
					.time {
						height: 24upx;
						line-height: 24upx;
						color: #AAAAAA;
						font-size: 24upx;
					}
				}
			}
		}
	}
	.small-card-detial {
		width: 96%;
		min-height: 260upx;
		margin: 20upx auto 0;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		background: #FFFFFF;
		border-radius: 20upx;
		.title-box {
			width: 100%;
			height: 56upx;
			border-top-left-radius:20upx;
			border-top-right-radius:20upx;
			padding: 0 20upx;
			line-height: 56upx;
			.id {
				float: left;
			}
			.status {
				float: left;
				margin-top: 12upx;
				margin-left: 20upx;
			}
			.arrow {
				float: right;
				width: 28upx;
				height: 28upx;
				margin: 12upx 10upx 0 0;
			}
		}
		.info-box {
			width: 100%;
			height: 48upx;
			line-height: 48upx;
			padding: 0 20upx;
			.label{
				float: left;
				margin-right: 4upx;
				font-size: 26upx;
				width: 132upx;
			}
			.info {
				float: left;
				color: #777676;
			}
		}
		.time-box {
			width: 100%;
			height: 130upx;
			.time {
				padding: 0 20upx;
				height: 48upx;
				line-height: 48upx;
				.ico {
					width: 28upx;
					height: 28upx;
					margin-right: 20upx;
					margin-top: 8upx;
					vertical-align: top;
				}
				.text {
					font-size: 26upx;
				}
			}
			.line {
				width: 2upx;
				height: 36upx;
				margin: 2upx 36upx 0 30upx;
				background: #d0d0d0;
			}
		}
		.reason-box {
			width: 100%;
			padding: 0 20upx 10upx 20upx;
			.label {
				line-height: 48upx;
				font-size: 26upx;
			}
			.info {
				min-height: 48upx;
				color: #8799a3;
				font-size: 26upx;
				text-indent: 2em;
			}
		}
	}
	
	.bottom-btns-seat {
		width: 100%;
		height: 160upx;
		background: #f1f1f1;
	}
	.bottom-btns {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 114upx;
		border-top: 2upx solid #36BDBD;
		box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
		.cancel {
			float: left;
			width: 50%;
			height: 114upx;
			line-height: 114upx;
			color: #36BDBD;
			text-align: center;
			background: #FFFFFF;
		}
		.pass {
			float: right;
			width: 50%;
			height: 114upx;
			line-height: 114upx;
			text-align: center;
			color: #FFFFFF;
			background-image: linear-gradient(45deg, #44d7b6, #36bdbd);
		}
	}
	
.bottom-cancel-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 114upx;
	border-top: 2upx solid #36BDBD;
	box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
	text-align: center;
	background-image: linear-gradient(45deg, #44d7b6, #36bdbd);
	line-height: 114upx;
	color: #FFFFFF;
	// font-size: 36upx;
	font-weight: 500;
}
	
	